target/*

!target/criterion/
target/criterion/*
!target/criterion/math/

!target/criterion/math/*
target/criterion/math/*/*
!target/criterion/math/*/new

target/criterion/math/*/new/*
!target/criterion/math/*/new/estimates.json